body {
    background-color:antiquewhite
}
.main-header {
    text-align: center;
    font-style: italic;
    background-image:url(https://images.unsplash.com/photo-1587085416963-22efba033dd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80)
}
.main-footer {
    color: wheat;
    font-family:monospace;
    background-image:url(https://images.unsplash.com/photo-1528137871618-79d2761e3fd5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2340&q=80)
}
#hp {
    float:left;
    margin: 10px 30px 10px 10px; 
}
#back {
    text-align: center;
}